{% extends '_base.html'%}


{% block title%} Home {% endblock title%}

{% block content %}
<div class="container mt-4 text-center">
<h1>
    {% comment %} <div class="card border-success mb-3" style="max-width: 18rem;">
        <div class="card-header bg-transparent border-success"></div>
        <div class="card-body text-success">
          <h5 class="card-title">به ورتکس خوش آمدی</h5>
          <p class="card-text"></p>
        </div>
        <div class="card-footer bg-transparent border-success">Footer</div>
    </div> {% endcomment %}
</h1>
</div>
{% endblock content%}