{% extends '_base.html'%}


{% block title%} Info {% endblock title%}

{% block content %}
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="https://wallpaperaccess.com/full/2056416.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">PersialinuxTM</h5>
          <p class="card-text">hi babe</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://wallpaperaccess.com/full/2056430.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">حمایت از ما</h5>
          <p class="card-text">شما میتوانید از روی بخش های بالا حمایت کنید</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://www.kapwing.com/resources/content/images/2021/10/discord-halloween-pfp-cover.gif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Discord</h5>
          <p class="card-text">با جوین دادن به دیسکورد ما را خوش حال کنید(از روی بخش های بالا روی عکس دیسکورد کلیک کنید)</p>
        </div>
      </div>
    </div>

{% endblock content%}
<!-- <img  class="" src="https://wallpaperaccess.com/full/2056416.jpg" alt=""> -->