{% extends '_base.html' %}

{% block title %}صفحه آموزش‌ها{% endblock title %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">آموزش‌های لینوکس</h1>
    <div class="row">
        {% for tutorial in tutorials %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <img src="{{ tutorial.image_url }}" class="card-img-top" alt="{{ tutorial.title }}">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ tutorial.title }}</h5>
                    <p class="card-text">{{ tutorial.description }}</p>
                    <div class="mt-auto">
                        {% if tutorial.download_link %}
                        <a href="{{ tutorial.download_link }}" class="btn btn-primary" download>دانلود</a>
                        {% endif %}
                        {% if tutorial.video_link %}
                        <a href="{{ tutorial.video_link }}" target="_blank" class="btn btn-outline-secondary">مشاهده ویدئو</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
