{% extends "_base.html" %}

{% block title %}سیستم‌عامل‌های لینوکس{% endblock title %}

{% block content %}
<div class="container text-center mt-5">
    <h1>سیستم‌عامل‌های لینوکس</h1>
    <div class="d-grid gap-3 col-6 mx-auto mt-4">
        <a href="{% url 'linux_detail' 'ubuntu' %}" class="btn btn-primary">Ubuntu</a>
        <a href="{% url 'linux_detail' 'debian' %}" class="btn btn-success">Debian</a>
        <a href="{% url 'linux_detail' 'arch' %}" class="btn btn-dark">Arch Linux</a>
        <a href="{% url 'linux_detail' 'fedora' %}" class="btn btn-danger">Fedora</a>
    </div>
</div>
{% endblock content %}
