{% extends '_base.html'%}


{% block title%} Discord {% endblock title%}

{% block content %}
<div class="container mt-4 text-center">
    <h1>
        <div class="card text-bg-dark">
            <img  class="" src="https://www.kapwing.com/resources/content/images/2021/10/discord-halloween-pfp-cover.gif" alt=""><button href="https://discord.gg/JRfUqqASCu" role="" class="card-link"></button>
            <div class="card-img-overlay">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
                <a href="https://discord.gg/JRfUqqASCu" class="card-link">Discord Vortex</a>
                <!-- <a href="#" class="card-link">Another link</a>  -->
            </div>
          </div>
    </h1>
</div>
{% endblock content%}
<img src="https://www.kapwing.com/resources/content/images/2021/10/discord-halloween-pfp-cover.gif" class="active link" alt="..."><link rel="stylesheet" href="">
<button>   </button>