{% extends '_base.html'%}


{% block title%} About Rank {{book.title}} {% endblock title%}

{% block content %}



<div class="container mt-4" dir="rtl">
    <div class="row">
        <div class="col-9">
            <div class="card shadow my-3">
                <h5 class="card-header bg-info text-dark px-5">   Enter the rank information correctly   .</h5>
                <div class="px-5 pt-3 pb-5">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <table>
                        {{form.as_table}}
                    </table>
                        <button type="submit" class="btn btn-dark mt-2">Save</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-3">

                <div class="card my-3 shadow">
                    <h5 class="card-header bg-warning text-light">Help</h5>
                    <div class="card-body">
                        <p class="card-text text-center">
                            Respected user must enter information correctly and completely for each book. If a book does not have a cover, the program automatically registers a pre-designed image for the book.
                        </p>
                    </div>
                </div>

        </div>
    </div>
</div>


{% endblock content%}